# Chapter 3: Introducing Lists

A list is a collection of items in a particular order. In Python, square brackets ([]) indicate a list, and individual elements 
in the list are separated by commas.

## Using Individual Values from a List

In [25]:
my_favourite_writers=['Niel Gaiman', 'J.K. Rowling', 'Hermann Hesse' ]
message= f" When I was a teenager, my favourite author was {my_favourite_writers[2]}"
print (message)

 When I was a teenager, my favourite author was Hermann Hesse

## Changing, Adding, and Removing Elements

### Modifying Elements in a List

In [4]:
numbers=[1,3,3,4,5]
numbers[1]=2
numbers

[1, 2, 3, 4, 5]

### Adding Elements to a List

In [26]:
# adding elements to the end of the list: append() method
my_favourite_writers.append('Kurt Vonnegut')
my_favourite_writers

['Niel Gaiman', 'J.K. Rowling', 'Hermann Hesse', 'Kurt Vonnegut']

### Inserting Elements into a List

In [27]:
# adding a new element at any position in the list: insert() method
my_favourite_writers.insert(3,'Albert Camus')
my_favourite_writers

['Niel Gaiman',
 'J.K. Rowling',
 'Hermann Hesse',
 'Albert Camus',
 'Kurt Vonnegut']

### Removing Elements from a List

#### Removing an Item Using the del Statement

In [28]:
del my_favourite_writers[4]

**Note:** There is no longer access the value that was removed 
from the list after the del statement is used.<br>

In [29]:
 my_favourite_writers

['Niel Gaiman', 'J.K. Rowling', 'Hermann Hesse', 'Albert Camus']

#### Removing an Item Using the pop() Method

The pop() method removes the last item in a list, but it lets you work 
with that item after removing it.

In [30]:
poped_writer= my_favourite_writers.pop()

In [32]:
poped_writer

'Albert Camus'

**Note:** we can use pop() to remove an item from any position in a list by including 
the index of the item we want to remove in parentheses.

#### Removing an Item by Value

In [34]:
#removing an item from a list by its value: remove() method
my_favourite_writers.remove('Hermann Hesse')

In [35]:
my_favourite_writers

['Niel Gaiman', 'J.K. Rowling']

**Note:** The remove() method deletes only the first occurrence of the value you specify. If there’s 
a possibility the value appears more than once in the list, we’ll need to use a loop 
to make sure all occurrences of the value are removed.

## Organizing a List

### Sorting a List Permanently with the sort() Method

In [47]:
my_list= ['a', 'c', 'd', 'g', 'e', 'b']

In [48]:
my_list.sort()

In [49]:
my_list

['a', 'b', 'c', 'd', 'e', 'g']

In [50]:
#sort the list in reverse alphabetical order
my_list.sort(reverse=True)

In [51]:
my_list

['g', 'e', 'd', 'c', 'b', 'a']

### Sorting a List Temporarily with the sorted() Function

To maintain the original order of a list but present it in a sorted order, the sorted() function can be used

In [53]:
sorted_list= sorted(my_list)

In [54]:
sorted_list

['a', 'b', 'c', 'd', 'e', 'g']

In [55]:
my_list

['g', 'e', 'd', 'c', 'b', 'a']

In [56]:
##sort the list in reverse alphabetical order
reversely_sorted_list= sorted(my_list, reverse=True)

In [57]:
reversely_sorted_list

['g', 'e', 'd', 'c', 'b', 'a']

### Printing a List in Reverse Order

To reverse the original order of a list, you can use the reverse() method. <br>
**Note:** reverse() doesn’t sort the list backward ; it simply 
reverses the order of the list

In [58]:
writers=['Niel Gaiman', 'J.K. Rowling', 'Hermann Hesse', 'Albert Camus']
writers.reverse()

In [59]:
writers

['Albert Camus', 'Hermann Hesse', 'J.K. Rowling', 'Niel Gaiman']

**Note:** The reverse() method changes the order of a list permanently, but the original order can be retrieved anytime by applying reverse() to the same 
list a second time