# Chapter 4: Working with Lists

## Looping Through an Entire List

In [2]:
harry_potter_book_series= ['Harry Potter and the Philosopher’s Stone', 'Harry Potter and the Chamber of Secrets',
                          'Harry Potter and the Prisoner of Azkaban', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Order of the Phoenix',
                          'Harry Potter and the Half-Blood Prince', 'Harry Potter and the Deathly Hallows']

In [3]:
for book in harry_potter_book_series:
    print(book)

Harry Potter and the Philosopher’s Stone
Harry Potter and the Chamber of Secrets
Harry Potter and the Prisoner of Azkaban
Harry Potter and the Goblet of Fire
Harry Potter and the Order of the Phoenix
Harry Potter and the Half-Blood Prince
Harry Potter and the Deathly Hallows

In every iteration, Python retrieve the value from the list "harry_potter_book_series", 
and associate it with the variable "book", and complete the task that is declared in the loop.

In [5]:
ordinal_numbers= ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th']

In [14]:
for number, book in zip(ordinal_numbers, harry_potter_book_series):
    print(f"'{book}' was the {number} book of Harry potter book series")

'Harry Potter and the Philosopher’s Stone' was the 1st book of Harry potter book series
'Harry Potter and the Chamber of Secrets' was the 2nd book of Harry potter book series
'Harry Potter and the Prisoner of Azkaban' was the 3rd book of Harry potter book series
'Harry Potter and the Goblet of Fire' was the 4th book of Harry potter book series
'Harry Potter and the Order of the Phoenix' was the 5th book of Harry potter book series
'Harry Potter and the Half-Blood Prince' was the 6th book of Harry potter book series
'Harry Potter and the Deathly Hallows' was the 7th book of Harry potter book series

### Doing More Work Within a for Loop

In [15]:
magicians = ['alice', 'david', 'carolina']

In [18]:
for magician in magicians:
    print(f"{magician.title()} was a great trick!")

Alice was a great trick!
David was a great trick!
Carolina was a great trick!

In [20]:
#inserting a blank line after each iteration through the loop
for magician in magicians:
    print(f"{magician.title()} was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice was a great trick!
I can't wait to see your next trick, Alice.

David was a great trick!
I can't wait to see your next trick, David.

Carolina was a great trick!
I can't wait to see your next trick, Carolina.

## Making Numerical Lists

### Using the range() Function

Python range() function makes it easy to generate a series of numbers

In [22]:
for value in range(1,5):
    print(value)

1
2
3
4

#### Using range() to Make a List of Numbers

In [27]:
# list() function converts the set of numbers into a list
numbers=list(range(1,6))

In [28]:
numbers

[1, 2, 3, 4, 5]

**Note:** We can also use the range() function to tell Python to skip numbers in a 
given range. If you pass a third argument to range(), Python uses that value 
as a step size when generating numbers.

In [31]:
even_numbers= list(range(2,9,2))

In [32]:
even_numbers

[2, 4, 6, 8]

In [35]:
# creating a list of the first 10 square numbers
squares=[]
for num in range(11):
    squared_num= num**2
    squares.append(squared_num)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
# to write the above code more concisely:
squares=[]
for num in range(11):
    squares.append(num**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List Comprehensions

- A list comprehension allows us to generate lists in just one line of code. <br>
- A list comprehension combines the for loop and the creation of new elements into one line, and automatically 
appends each new element

In [40]:
squares= [num**2 for num in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


## Exercises


**4-3. Counting to Twenty:**  Use a for loop to print the numbers from 1 to 10, 
inclusive.

In [47]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

**4-4. One Million:** Make a list of the numbers from one to one million, and then 
use a for loop to print the numbers. (If the output is taking too long, stop it by 
pressing ctrl-C or by closing the output window.)

In [51]:
one_to_million= list(range(1,1000_001))
#for num in one_to_million:
    #print(num)

**4-5. Summing a Million:** Make a list of the numbers from one to one million, 
and then use min() and max() to make sure your list actually starts at one and 
ends at one million. Also, use the sum() function to see how quickly Python can 
add a million numbers.

In [52]:
one_to_million= list(range(1,1000_001))
print(min(one_to_million))
print(max(one_to_million))
print(sum(one_to_million))

1
1000000
500000500000

**4-6. Odd Numbers:** Use the third argument of the range() function to make a 
list of the odd numbers from 1 to 20. Use a for loop to print each number.

In [53]:
odd_numbers= list(range(1,20,2))
for num in odd_numbers:
    print(num)

1
3
5
7
9
11
13
15
17
19

**4-7. Threes:** Make a list of the multiples of 3 from 3 to 30. Use a for loop to 
print the numbers in your list.

In [54]:
threes=[]
for num in range(1,11):
    threes.append(num*3)

In [56]:
for num in threes:
    print(num)

3
6
9
12
15
18
21
24
27
30

**4-8. Cubes:** A number raised to the third power is called a cube. For example, 
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that 
is, the cube of each integer from 1 through 10), and use a for loop to print out 
the value of each cube.

In [57]:
cubes=[]
for num in range(1,11):
    cubes.append(num**3)

In [59]:
for num in cubes:
    print(num)

1
8
27
64
125
216
343
512
729
1000

**4-9. Cube Comprehension:** Use a list comprehension to generate a list of the 
first 10 cubes

In [60]:
cubes=[num**3 for num in range(1,11)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Working with Part of a List

### Slicing a List

In [61]:
players= ['charles', 'martina', 'michael', 'florence', 'eli']
players[1:3]

['martina', 'michael']

**Note:** Like range() function, Python stops one item 
before the second index we specify

In [63]:
players[:4]

['charles', 'martina', 'michael', 'florence']

In [64]:
players[2:]

['michael', 'florence', 'eli']

In [66]:
#getting the last 3 elements of the list
players[-3:]

['michael', 'florence', 'eli']

**Note:** A third value in the brackets indicating a slice can be passed. If a third value is 
included, this tells Python how many items to skip between items in the specified 
range. the syntax is: [start:stop:step]

In [90]:
numbers = list(range(1,21))

In [92]:
even_numbers=numbers[1:-1:2]
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Looping Through a Slice

In [94]:
squares=[]
for num in numbers[1:-1:2]:
    squares.append(num**2)
print(squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324]

## Copying a List

<font color=#FF0000>The wrong way:</font>.

In [96]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods=my_foods

**Note:** The above syntax actually tells Python to associate 
the new variable friend_foods with the list that is already associated with 
my_foods, so now both variables point to the same list.<br>
To prove that these two variables point to a same list, we'll try to append a new item to my_foods. As we can see in the below codes, the new item appears in both "my_foods" and "friend_foods".

In [97]:
my_foods.append("ice cream")

In [98]:
my_foods

['pizza', 'falafel', 'carrot cake', 'ice cream']

In [99]:
friend_foods

['pizza', 'falafel', 'carrot cake', 'ice cream']

<font color=green>The right way:</font>

In [101]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods= my_foods[:]

## Tuples

sometimes you’ll want to create a list of items that cannot 
change. Tuples allow you to do just that.

### Defining a Tuple

Tuples are technically defined by the presence of a comma; the parentheses make them 
look neater and more readable. To define a tuple with one element, you 
need to include a trailing comma:

In [104]:
my_t= (3,)
type(my_t)

tuple

### Looping Through All Values in a Tuple

In [106]:
dimensions= (1,200)
for dimension in dimensions:
    print(dimension)

1
200

### Writing over a Tuple

Although tuples are immutable, we can assign a new value to a variable 
that represents a tuple. So if we wanted to change our dimensions, we could 
redefine the entire tuple:

In [107]:

dimensions=(200,400)

In [108]:
dimensions

(200, 400)